* {
  font-family: Montserrat;
  box-sizing: border-box;
}

.toast {
  width: 320px;
  border: 1px solid gray;
  border-radius: 6px;
}

.toast .icon {
  width: 32px;
  height: 32px;
  background: url(images/infoButton.svg) no-repeat;
}
