* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: darkslategray;
  padding: 15px;
  margin-bottom: 20px;
}

h1 {
  color: white
}

.highlight {
  padding: 2px;
  background-color: lime;
}

.extra {
  border-radius: 14px;
  border: 2px solid green;
  box-shadow: 5px 5px lightgray, -5px -5px lightgray;
}

[title] {
  cursor: help;
}

p {
  margin-bottom: 50px;
  border-bottom: 2px solid gray;
  padding-bottom: 50px;
  padding-left: 15px;
}